html {
  overflow-y: scroll;
}
body {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 10px;
  font: 14px/1.5 monospace;
  color: #444;
}
h1,
h2,
h3 {
  line-height: 1.2;
}
p > code {
  padding: 2px 4px;
  color: #555;
  background: #eee;
  padding: 2px;
  border-radius: 4px;
}
pre {
  color: #ffffff;
  background: #000000;
  padding: 12px;
  overflow-x: auto;
}
code {
  font: 14px/1.5 monospace;
}
article {
  padding: 24px 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
figcaption {
  color: #888;
  font: 12px/1.5 monospace;
  text-align: center;
}
figure {
  margin: auto;
}
a {
  color: #0091e6;
  text-decoration: none;
}
.title {
  color: black;
}
.logo {
  color: black;
  font-style: italic;
  font-weight: bold;
}
.footer-link {
  color: #333;
}
@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #444;
  }
  a:link {
    color: #5bf;
    text-decoration: none;
  }
  a:visited {
    color: #5bf;
    text-decoration: none;
  }
  .title {
    color: white !important;
  }
  .logo {
    color: white !important;
  }
}